.budget {
  &__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    max-width: 300px;
    min-height: 150px;
    border-radius: 20px;
    width: 100%;
    background: rgba(211, 211, 211, 0.281);
    font-weight: 600;
    padding: 10px 15px;
    text-transform: none;
    color: var(--white);
  }
}
