.card {
  border-radius: 20px;
  padding: 20px 28px;
  backdrop-filter: blur(60px);
  width: max-content;

  &__primary {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/card_bg.webp") center center/cover no-repeat;
  }

  &__secondary {
    background: linear-gradient(139deg, rgba(6, 11, 40, 0.94) 17.44%, rgba(10, 14, 35, 0.49) 93.55%, rgba(10, 14, 35, 0.69) 93.55%);
  }

  &__dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/card_bg.webp") center center/cover no-repeat;
  }
}
