.survey {
  &__title {
    margin: 36px auto 0;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    padding: 40px 80px;
    border: 1px solid lightgray;
    max-width: 40vw;
    width: 100%;
    margin: 20px auto 0;
    background-color: rgba($color: #b0a2a281, $alpha: 0.5);
    border-radius: 14px;
  }

  &__question {
    color: white;
    font-size: 28px;
    font-weight: 600;
  }

  &__formControl {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__btns {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    border-color: white;
    color: white;
    text-transform: none;
    max-width: 300px;
    font-weight: 600;
    border: 1.5px solid white;
  }

  &__error {
    color: rgba(122, 0, 0, 0.74);
    text-align: center;
    margin: 0 auto;
    
  }
}
