@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --white: #fff;
  --bg: #fffcf8;
  // --bg: linear-gradient(159deg, #0f123b 14.25%, #090d2e 56.45%, #020515 86.14%);
  --primary: #fff;
  --secondary: #f8debd;
  --accentGreen: #01b574;
  --accentRed: #db4f4a;
  --accentPurple: #6870fa;
  --gray: lightGray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/bg.webp") center center/cover no-repeat;
  color: var(--white);
}

.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
img,
input,
span {
  display: block;
}

.white-text-field .MuiInputBase-root {
  background-color: transparent; /* Цвет фона */
  color: #fff; /* Цвет текста */
}

.white-text-field .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff6a; /* Цвет рамки */
  transition: 0.3s all;
}

.white-text-field:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff; /* Цвет рамки при наведении */
}

.white-text-field.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black; /* Цвет рамки при фокусе */
}

/* Также может понадобиться изменить цвет текста в метке */
.white-text-field .MuiInputLabel-root {
  color: #fff; /* Цвет метки */
}

.white-text-field .MuiInputLabel-root.Mui-focused {
  color: #fff; /* Цвет метки при фокусе */
}

.error-text {
  color: rgba(122, 0, 0, 0.74);
  margin-top: -20px;
  text-align: left;
}
